<!DOCTYPE html>
@{
    ViewBag.Title = "Авторская керамика | Сорокин сад";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    @*<link href="@Url.Content("~/Content/Roboto-Light.ttf")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Roboto-Thin.ttf")" rel="stylesheet">*@
    
    <script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />

</head>

<body>
    <div class="header-menu">
        <a href="/work" class="header-menu-item"><span> Процесс </span></a>
        <a href="/" class="logo"> </a>
        <a href="/contact" class="header-menu-item"><span> Связаться </span></a>
    </div>

    <div class="cart-sidebar">


    </div>

    @RenderBody()

    <div class="footer">
        <p>SorokinSad.com - 2017. Made by <a href="mylink">A. Karmanov</a></p>

    </div>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.image-container').slick();
            refreshCart(false, false);
        });
        function countCardItem(id, count) {
            $.ajax({
                type: "POST",
                url: "/Cart/CountCartItem",
                data: { itemId: id, delta: count },
                success: function (res) {
                    refreshCart(true, false);
                },
                datatype: "json",
                traditional: true
            });
        }
        function removeCardItem(id) {
            $.ajax({
                type: "POST",
                url: "/Cart/RemoveCartItem",
                data: { itemId: id },
                success: function (res) {
                    refreshCart(false, true);
                },
                datatype: "json",
                traditional: true
            });
        }
        function refreshCart(shouldShowCart,shouldAnimate) {
            $.ajax({
                type: "POST",
                url: "/Cart/GetCartItems",
                success: function (res) {
                    if (res) {
                        $('.cart-sidebar').empty();
                        $('.cart-sidebar').append(res);
                        if (shouldShowCart) {
                            if (shouldAnimate)
                                showCart();
                            else
                                showCartImediately();
                        }
                        else {
                            if (shouldAnimate)
                                hideCart();
                            else
                                hideCartImediately();
                        }
                    }
                },
                datatype: "json",
                traditional: true
            });
        }
        function showCartImediately() {
            $('.cart-sidebar').css("right", "0px");
            $('#hide-cart').css("visibility", "visible");
            $('#show-cart').css("visibility", "hidden");
        }
        function hideCartImediately() {
            $('.cart-sidebar').css("right", "-370px");
            $('#hide-cart').css("visibility", "hidden");
            $('#show-cart').css("visibility", "visible");
        }
        function showCart() {
            $('.cart-sidebar').css("animation", "0.3s rollin");
            showCartImediately();
        }
        function hideCart() {
            $('.cart-sidebar').css("animation", "0.3s rollout");
            hideCartImediately();
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                $('.footer').css("opacity", 1);
            } else {
                $('.footer').css("opacity", 0);
            }
        });
    </script>
</body>
</html>
