@model  Thingy
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title += "Edit";
}

<div style="padding-left:20px;">
    <h1>Редактирование штуки</h1>
    @using(Html.BeginForm("Update", "Manage", new { id = Model.Id }, FormMethod.Post, null)) {
        <p >@Html.TextBoxFor(x => x.Id)</p>
        <p>
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description)
            @Html.LabelFor(x => x.Price)
            @Html.TextBoxFor(x => x.Price)
            @Html.LabelFor(x => x.Tags)
            @Html.TextBoxFor(x => x.Tags)

            <div class="edit-item-old-images">
                @foreach(var image in Model.Images) {
                    <div class="thumbnail" onclick="removeImage(@Model.Id, this) ">
                        <img src="data:image/png;base64,  @Convert.ToBase64String(image)">
                    </div>
                }
            </div>
            <div id="mulitplefileuploader">Upload</div>
            <div id="status"></div>
        </p>
        <p >
            <input class="button"  style="display:inline" type="submit" value="Ok" />
             <a  class="button"  style="display:inline" href="/manage/remove/@Model.Id" onclick="return confirm('ТОЧНО?')">Удалить</a>
        </p>


    }
</div>
