@model  Thingy
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    List<Thingy> collection = WebDataProvider.Things();
}

<div class="items-table">
    <h2>Все штуки</h2>
    <table  cellspacing="0">
        <thead>
            <tr><th></th><th></th></tr>
        </thead>
        <tbody>

            @foreach(var thing in collection) {
                <tr>
                    <td>@thing.Name</td>
                    <td>@thing.Price</td>
                    <td>@thing.Description</td>
                    <td>
                        @if(thing.Images != null && thing.Images.Count > 0) {
                            <img src="data:image/png;base64,  @Convert.ToBase64String(thing.Images[0])">
                        }
                    </td>

                    <td><a href="/edit/@thing.Id">Редактировать</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*@foreach(Thingy thingy in collection) {
        @Html.Partial("~/Views/Shared/_Item.cshtml", thingy);
        <hr />
    }*@


<div id="new-item">
    <h1>Добавить новую штуку</h1>
    @using(Html.BeginForm("Create", "Manage")) {
        <p>
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description)
            @Html.LabelFor(x => x.Price)
            @Html.TextBoxFor(x => x.Price)


            <div id="mulitplefileuploader">Upload</div>
            <div id="status"></div>
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>
    }
</div>



<script>
    function RemoveImage(id, elem) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveImage", "Manage")",
            data: { id: id },
            success: function (res) {
                if (res === "removed") {
                    elem.remove();
                }
            },
            datatype: "json",
            traditional: true
        });
    }
    $(document).ready(function () {




    });
</script>